/dist
node_modules
build
coverage
*.log
*.lock
*.json
*.min.js
*.bundle.js
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.pdf
*.zip
*.tar.gz
*.tgz
*.7z
.DS_Store
.vscode
.idea
.env
.env.local
.env.*.local
docker-compose.yml