.upContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.logos {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  margin-top: 14px;
  margin-bottom: 16px;
}

.phoneCard {
  border-radius: 34px;
  margin-bottom: 24px;
  max-width: 320px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  height: 320px;
  background-color: #2D2D2D;
}

.downTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} 