.registrationInfoList {
  margin-top: 32px;
  margin-bottom: 0;
  list-style-type: disc;
  text-align: left;
  width: 100%;
}

.registrationInfoItem {
  color: #B0B0B0;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.registrationInfoListContainer {
  width: 100%;
  max-width: 390px;
  padding-right: 28px;
  padding-left: 28px;
}

