.videoPromoBar {
  position: fixed;
  left: 0;
  bottom: 94px;
  width: 100%;
  height: 38px;
  background: rgba(0, 0, 0, 0.70);
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  z-index: 10001;
}

.promoTelegramIcon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  flex-shrink: 0;
}

.promoMain {
  display: flex;
  align-items: center;
}

.promoText {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.promoNextstepIcon {
  width: 14px;
  height: 28px;
  flex-shrink: 0;
} 