.textCard {
  width: 246px;
  margin-bottom: 12px;
}

.titleTextCard {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}

.contentTextCard {
  color: #B0B0B0;
  font-size: 13px;
  line-height: 1.3;
}

.dots {
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #D9D9D9;
}

.dot.active {
  background: #FF2B54;
} 