.nextBtn {
  background: #FF2B54;
  color: white;
  height: 44px;
  font-size: 17px;
  font-weight: 600;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background 0.2s;
  width: calc(100% - 32px);
  margin-right: 16px;
  margin-left: 16px;
  max-width: 390px;
}

.nextBtn:not(:disabled):hover {
  background: #e5005f;
}

.registrationAccountBtn {
  background: #2E2E2E;
}

.registrationAccountBtnActive {
  background: #FF2B54;
}

.subscribeLink {
  font-size: 0.8rem;
  color: #fff;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.subscribeLink:hover {
  color: white;
} 